@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.lessons-con div {
  margin: 2rem;
}
.lessons-con div a {
  color: rgb(177, 65, 0);
  font-weight: bold;
  display: inline-block;
}
.lessons-con div span {
  font-size: 0.76rem;
}

.lesson-heading {
  font-size: 0.9rem;
}

.topic-heading {
  font-size: 1.5rem;
}

.sub-topic-heading {
  font-size: 1rem;
}

.exercise-btn-con {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.exercise-btn-con .exercise-btn {
  background-color: rgb(177, 65, 0);
  padding: 4px 10px;
  border: none;
  color: #f0f0f0;
  font-weight: bold;
}

.completion {
  color: brown;
  font-size: 0.7rem !important;
  font-style: italic;
}

.next-prev-con {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.next-prev-con div button {
  font-weight: bold;
  padding: 3px 15px;
}
.next-prev-con div button a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 10px;
  color: #333;
  background-color: #dcddfa;
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
}

a {
  color: #333;
}

a:active {
  color: #333;
}

a:visited {
  color: #333;
}

h2 {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

li {
  list-style-type: square;
  margin-bottom: 0.7rem;
}

button {
  user-select: none;
}

.container {
  margin-top: 60px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 2rem;
}

.fig-text {
  font-size: 0.75rem;
  color: black;
  margin-bottom: 40px;
}

.get-started-btn-con {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.get-started-btn {
  background-color: green;
  padding: 5px 15px;
  color: #dcddfa;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 100px;
}

.disabled-btn {
  opacity: 0.4;
  cursor: default;
}

#menu {
  position: fixed;
  top: 50px;
  left: 0;
  background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)), url("../images/piano.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

#menu a {
  text-decoration: none;
  margin-bottom: 20px;
  background-color: rgb(252, 252, 252);
  display: flex;
  justify-content: center;
  padding: 6px;
  border-radius: 5px;
  width: 50%;
}

#menu a.selected {
  background-color: #ffffff;
  font-weight: bold;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url("../images/piano.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(252, 252, 252);
  height: 50px;
  max-height: 50px;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1.5rem;
}

.brand div {
  margin: 20px;
}

.brand a {
  text-decoration: none;
  color: rgb(252, 252, 252);
  font-family: Bruno Ace SC, monospace;
}

.piano-diagram-container {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 180px;
}

.piano-diagram {
  display: flex;
  position: relative;
}

.key {
  width: 40px;
  height: 170px;
  border: 1px solid #000;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 13px;
  cursor: default;
  user-select: none;
  position: absolute;
}

.black {
  width: 25px;
  height: 120px;
  background: black;
  color: white;
  margin-right: 4px;
  z-index: 2;
  border-radius: 0 0 5px 5px;
}

.b1 {
  left: 28px;
}

.b2 {
  left: 69px;
}

.b3 {
  left: 151px;
}

.b4 {
  left: 192px;
}

.b5 {
  left: 234px;
}

.b6 {
  left: 315px;
}

.b7 {
  left: 356px;
}

.b8 {
  left: 438px;
}

.b9 {
  left: 479px;
}

.b10 {
  left: 520px;
}

.w1 {
  left: 0;
}

.w2 {
  left: 41px;
}

.w3 {
  left: 82px;
}

.w4 {
  left: 123px;
}

.w5 {
  left: 164px;
}

.w6 {
  left: 205px;
}

.w7 {
  left: 246px;
}

.w8 {
  left: 287px;
}

.w9 {
  left: 328px;
}

.w10 {
  left: 369px;
}

.w11 {
  left: 410px;
}

.w12 {
  left: 451px;
}

.w13 {
  left: 492px;
}

.w14 {
  left: 533px;
}

.w15 {
  left: 574px;
}

.pressed-black-k {
  background-color: #555;
}

.pressed-white-k {
  background-color: #c0c0c0;
}

.mini-piano-con {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 40px;
  top: 90px;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.6s;
  z-index: 10;
}

.mini-piano-con:hover {
  opacity: 1;
}

.mini-piano {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid black;
  position: relative;
}

.mini-piano .k {
  width: 10px;
  background-color: white;
  border: 1px solid black;
}

.mini-piano .b {
  position: absolute;
  left: 7px;
  height: 15px;
  width: 3px;
  background-color: black;
  z-index: 2;
}

.mini-piano .D-sharp {
  left: 17px;
}

.footer {
  background-color: #f0f0f0;
  padding: 1rem;
}

.footer-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
}
.footer-con .brands-logo {
  font-size: 1.5rem;
}
.footer-con .brands-logo i {
  margin: 0 2rem;
  color: black;
}
.footer-con .options {
  font-size: 0.9rem;
  font-weight: bold;
}
.footer-con .options a {
  margin: 0 1rem;
}
.footer-con .flexora {
  margin-top: 2rem;
}

.virtual-piano-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  z-index: 50;
  display: none;
}

.virtual-piano-inner-con {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 218px;
  position: relative;
  margin-left: 15px;
  top: -30px;
  margin-top: 100px;
}

.v-p-key:active {
  background-color: #333;
}

.v-piano-close-btn {
  color: white;
  font-size: 1.2rem;
  margin: 0 0 10px 10px;
}

.exercise {
  font-size: 1rem;
}
.exercise span {
  font-size: 0.7rem;
  font-style: italic;
  color: brown;
}/*# sourceMappingURL=sass.css.map */